<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="image/png" sizes="32x32" rel="icon" href="assets/icons8-fork-32.png">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= title %></title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
      </style>
