  <!-- <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %> -->
<link rel="stylesheet" href="/stylesheets/partials/nav.css">
</head>
<body>
  <nav>
    <i class="fa-light fa-pot-food"></i>
    <a href="/profiles"
		>
      <button class="prof" type="submit">Profiles</button>
		</a>
    <a href="/recipes"
			<%- title === 'Recipes' ? 'class="active"' : '' %>
		>
      <button class="rec" type="submit">Recipes</button>
		</a>
    <% if (user) { %>
      <a href="/auth/logout">
        <button class="log" type="submit">Logout</button>
      </a>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
    <form action="/recipes/search" method="POST">
      <input type="text" name="search" placeholder="Search for a recipe!" autocomplete="off">
      <button type="submit">Search!</button>
    </form>
  </nav>
  
    
    

