nav {
  background-color: #cbf4ab;
}
/* .cardContainer{
  background-color: antiquewhite;
  padding: 20px;
  border-radius: 30px;
  border-style:solid;
  border-color: black;
} */

.card {
  background-color: antiquewhite;
  padding: 20px;
  border-radius: 200 px;
  border-style: solid;
  border-color: black;
  margin: 30px;
}