body {
  background-color: #ebab83;
  background-size: cover;
}
nav {
  background-color: #cbf4ab;
}
.cardContainer{
 display: flex;
 flex-direction: row;
 align-items: stretch;
}
.card-title {
  font-family: 'Caveat', cursive;
  font-weight: bold;
  font-size: 35px;
}
.card {
  background-color: antiquewhite;
  padding: 20px;
  border-radius: 200 px;
  border-style: solid;
  border-color: black;
  margin: 30px;
}
h1 {
  font-size: 20px;
}