<section>
  <h1>Recipe Box</h1>
	<%# New Code Below %>
  <% if (user) { %>
    <h2>Add a Recipe!</h2>
    <form action="/recipes" method="POST">
      <label>
        Name: 
        <input type="text" name="name" autocomplete="off">
      </label>
      <label>
        Ingredients:
        <input type="checkbox" name="ingredients">
        <ul>

        </ul>
      </label>
      <button type="submit">Add Recipe</button>
    </form>
  <% } %>
  
