<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/recipes/new.css">
<%- include('../partials/nav') %>
<main>
  <section class="sec">
    <% if (user) { %> 
      <h2>Add Recipe</h2>
      <form action="/recipes" method="POST">
        <label id="lab">
          Name of Recipe: 
          <input type="text" name="name" autocomplete="off">
        </label id="lab">
        <br>
        <label id="lab">
          Ingredients:
          <input type="text" name="ingredients" autocomplete="off">
        </label>
        <br>
        <label id="lab">
          Instructions:
          <input type="text" name="preparation">
        </label>
        <br>
        <label id="lab">
          Preparation Time:
          <input type="number" name="prepTime" autocomplete="off" for="select">
        </label>
        <select name="" id="">
          <option value="min">minute</option>
          <option value="mins">minutes</option>
          <option value="hr">hour</option>
          <option value="hrs">hours</option>
        </select>
        <br>
        <label id="lab" for="servingSizeSelect">Serving Size:</label>
        <select name="servingSize" id="serving-select">
          <option value="1">1 person</option>
          <option value="2">2 people</option>
          <option value="3">3 people</option>
          <option value="4">4 people</option>
          <option value="5">5 people</option>
          <option value="6">6 people</option>
          <option value="7">7 people</option>
          <option value="8">8 people</option>
          <option value="9">9 people</option>
          <option value="10">10 people</option>
          <option value="11">11 people</option>
          <option value="12">12 people</option>
        </select>
        <br>
        <button class="ar" type="submit">Add Recipe</button>
      </form>
      <% } %> 
  </section>
</main>

<%- include('../partials/footer') %>