<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<main>
  <section>
    <% if (user) { %> 
      <h2>Add Recipe</h2>
      <form action="/recipes" method="POST">
        <label>
          Name of Recipe: 
          <input type="text" name="name" autocomplete="off">
        </label>
        <label>
          Ingredients:
          <input type="text" name="ingredient" autocomplete="off">
        </label>
        <label>
          Preparation:
          <input type="text" name="preparation">
        </label>
        <label>
          Preparation Time:
          <input type="text" name="prepTime" autocomplete="off">
        </label>
        <button type="submit">Add Recipe</button>
      </form>
      <% } %> 
  </section>
</main>

<%- include('../partials/footer') %>