.siwg {
  background-color: black;
  color: #ebab83;
  border-radius: 50px;
  font-size: 20px;
}

.prof {
  background-color: black;
  color: #cbf4ab;
  border-radius: 50px;
  font-size: 20px;
}

.rec {
  background-color: black;
  color: #ebab83;
  border-radius: 50px;
  font-size: 20px;
}

.log{
  background-color: black;
  color: #cbf4ab;
  border-radius: 50px;
  font-size: 20px;
}

