body {
  background-image: url('/assets/blank.png');
  background-size: cover;
}

#add {
  background-color: antiquewhite;
  border-color: black;
  border-style: solid;
  margin-left: 380px;
  border-radius: 50px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  content: inherit;
  position: relative;
  top: 70px;  
  font-family: 'Caveat', cursive;
  font-weight: bold;
}
#rec {
  background-color: #eafbdd;
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.AR {
  background-color: #f7ddcd;
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.all {
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  color: black;
}
