nav {
  background-color: #cbf4ab;
}
h2 {
  font-family: 'Caveat', cursive;
  font-weight: bold;
  font-size: 40px;
}
.sec {
  background-color: #eafbdd;
  border-radius: 50px;
  width: 500px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  content: inherit;
  position: relative;
  top: 50px;
}
#lab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Caveat', cursive;
  font-weight: bold;
  font-size: 30px;
}
.ar {
  display: flex;
  justify-content: center;
  margin-left: 170px;
  background-color: #cbf4ab;
  color: black;
  border-radius: 50px;
  font-family: 'Caveat', cursive;
  font-weight: bold;
  font-size: 15px;
}

