.card {
  background-color: antiquewhite;
  border-radius: 50px;
  width: 500px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}

.com {
  background-color: antiquewhite;
  border-radius: 50px;
  width: 450px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-left: 720px;
  padding: 50px;
  position: relative;
  bottom: 410px;
}

.comS {
  background-color: aqua;
  width: 350px;
}

nav {
  background-color: #ebab83;
}
.name {
  font-size: 20px
}

.recN {
  font-size: 25px;
}

.ing {
  font-size: 20px;
}

.recI {
  font-size: 25px;
}

.prep {
  font-size: 20px;
}

.recP {
  font-size: 25px;
}

.pt {
  font-size: 20px;
}

.recPt {
  font-size: 25px;
}

.ss {
  font-size: 20px;
}

.recSS {
  font-size: 25px;
}