.card {
  background-color: antiquewhite;
  border-radius: 50px;
  width: 500px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  content: inherit;
  position: relative;
  top: 70px;
  font-family: 'Caveat', cursive;
}

.com {
  background-color: antiquewhite;
  border-radius: 50px;
  width: 450px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-left: 720px;
  padding: 50px;
  position: relative;
  bottom: 270px;
}

#btn {
  background-color: #ebab83;
  color: black;
  border-radius: 40px;
  font-family: 'Caveat', cursive;
  font-weight: bold;
  font-size: 20px;
}
.eds {
  display: flex;
  flex-direction: row;
  margin-left: 250px;
  position: relative;
  top: 10px;
}

.de {
  background-color: #ebab83;
  color: black;
  border-radius: 40px;
  font-family: 'Caveat', cursive;
  font-weight: bold;
  font-size: 20px;
}
.ed {
  background-color: #ebab83;
  color: black;
  border-radius: 40px;
  font-family: 'Caveat', cursive;
  font-weight: bold;
  font-size: 20px;
}

.comS {
  background-color: antiquewhite;
  width: 350px;
}

nav {
  background-color: #ebab83;
}
.name {
  font-size: 30px
}

.recN {
  font-size: 30px;
}

.ing {
  font-size: 30px;
}

.recI {
  font-size: 30px;
}

.prep {
  font-size: 30px;
}

.recP {
  font-size: 30px;
}

.pt {
  font-size: 30px;
}

.recPt {
  font-size: 30px;
}

.ss {
  font-size: 30px;
}

.recSS {
  font-size: 30px;
}